personal.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:per="https://xml-project.onrender.com/personal"
           targetNamespace="https://xml-project.onrender.com/personal"
           elementFormDefault="qualified">
    <xs:element name="PersonalInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Phone" type="xs:string"/>
                <xs:element name="Email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
